<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark px-2">
        <div class="side-nav-button p-2 me-3 test-length">
            <button type="button" class="btn btn-light"></button>
        </div>
        <div class="label-content">
            <a class="navbar-brand px-4" href="#">Attendance Management system</a>
            <p class="navbar-brand">{{name}}</p>
        </div>
      
    </nav>

    <main>
        <app-side-nav></app-side-nav>
    </main>
    <div class="navbar-component-layout">
        <router-outlet></router-outlet>
    </div>
</div>
