/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.login-container{
    max-width: 400px; 
    margin: 60px auto 0;

    .bottom-margin {
        margin-bottom: 1rem;
    }

    .title-login {
        text-align: center;
        margin-bottom: 4rem;
    }

    .text-welcome {
        font-size: 20px;
        font-weight: 600;
    }

    .btn-success {
        width: 100%;
    }

    .remember-me {
        margin-left: 20px;
    }

    .register {
        color: #0d6efd;
        cursor: pointer;
    }

    .bottom-top {
        margin-top: 8px;
    }
}
